<!doctype html>

<!--[if IEMobile 7]>                     <html class="no-js iem7 oldie"  lang="{{doc_data.lang}}" dir="{{doc_data.dir}}"><![endif]-->
<!--[if lt IE 7]>                        <html class="no-js ie6 oldie"   lang="{{doc_data.lang}}" dir="{{doc_data.dir}}"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]>             <html class="no-js ie7 oldie"   lang="{{doc_data.lang}}" dir="{{doc_data.dir}}"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>             <html class="no-js ie8 oldie"   lang="{{doc_data.lang}}" dir="{{doc_data.dir}}"><![endif]-->
<!--[if gt IE 8]><!-->                   <html class="no-js"             lang="{{doc_data.lang}}" dir="{{doc_data.dir}}"><!--<![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html class="no-js"             lang="{{doc_data.lang}}" dir="{{doc_data.dir}}"><!--<![endif]-->
<head>
	<meta charset="utf-8">

	<!--
	LBi

	#Credits: See inline, but in general this stuff is pulled from the following sources:
	HTML5 Boilerplate - http://html5boilerplate.com
	HTML5 Mobile Boilerplate - http://html5boilerplate.com/mobile
	320AndUp - http://forabeautifulweb.com/blog/about/320_and_up/
	One Web Boilerplate - http://akikoo.github.io/one-web-boilerplate/
	Fluid grid - http://akikoo.github.com/Fluid-Grid/
	Backbone Boilerplate with multipage RequireJS Setup - https://github.com/akikoo/backbone-requirejs-multipage-boilerplate
	-->

	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!--[if lt IE 9]><p class=chromeframe>Din browser er ikke <em> supporteret!</em> <a href="http://browsehappy.com/">Opgrader til en nyere browser for at opleve sitet
    </a> eller <a href="http://www.google.com/chromeframe/?redirect=true">installere Google Chrome Frame</a>.</p><![endif]-->

	<title>{{doc_data.title}}</title>
	<meta name="description" content="">
	<meta name="author" content="">


	<!-- Fav and touch icons-->
	<link rel="shortcut icon" href="" />
	<!--<link rel="apple-touch-icon-precomposed" href="//www.cbb.dk/images/cbb/apple-touch-icon.png" />-->
	<!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//www.cbb.dk/images/cbb/apple-touch-icon-114x114-precomposed.png" />-->
	<!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="//www.cbb.dk/images/cbb/apple-touch-icon-144x144-precomposed.png" />-->

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">


	<!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

   	<link rel="stylesheet" href="/css/main.css">

	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="/lib/modernizr/modernizr.js"></script>
</head>
<body>